<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-art">
      <img src="" alt="" />
    </div>

    <div class="login-form">
      <h1 class="title">Welcome Back 👋</h1>

      <div class="form">
        <label for="email" class="label">Email</label>
        <input
          class="input"
          type="email"
          value=""
          placeholder="example@email.com"
        />
        <label for="Password" class="label">Password</label>
        <input
          class="input"
          type="password"
          value=""
          placeholder="Digite sua senha"
        />

        <button class="main-button">
          <p class="text-button">Entrar</p>
        </button>
      </div>
    </div>
  </body>
</html>
