* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --link: #1e4ae9;
  --primary-text: #0c1421;
  --secondary-text: #313957;
}

@media (min-width: 390px) {
  body {
    display: inline-flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    background: #fff;
  }

  .login-art {
    height: 180px;
    align-self: stretch;
    border-radius: 20px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }

  .login-form {
    display: flex;
    height: 548px;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
    align-self: stretch;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;

    color: var(--primary-text, #0c1421);
    font-family: SF Pro Rounded;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.24px;
  }

  .label {
    color: var(--primary-text, #0c1421);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.14px;
  }

  .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .main-button {
    display: flex;
    padding: 14px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-radius: 12px;
    background: #162d3a;
  }

  .text-button {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.16px;
  }

  .footer {
    display: flex;
    width: 390px;
    flex-direction: column;
    justify-content: center;
  }
}
